.header__lang-switch-link {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-switch-link:hover {
    opacity: .8;
}

@media (max-width: 320px) {
    .header__lang-switch-link {
        font-size: 18px;
        line-height: 20px;
    }
}